html {
    font-size: 22px;
    background-color: #ffebcd;
}
body {
    font-family: DFKai-sb; 
    font-weight: 400;
}
h1 {
    text-align: center;
    viewport-fit: auto;
}
h3{
    margin-left: 20px;
}
p {
    line-height: 1.5;
    margin-left: 20px;
    margin-right: 20px;
}
.label {
    border: 2px solid black;
    width: 270px;
    text-align: center;
    float: right;
    width: auto;
}
.tableofcontent {
    
    float: left;
}
a:link{
    text-decoration:none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: blue;
}

