@import url(https://fonts.googleapis.com/earlyaccess/cwtexkai.css);

html {
    font-size: 1.5rem;
    background-color: #ffebcd;
}



body {
    font-family: "cwTeXKai", serif;
    font-weight: 380;
}


h1 {
    text-align: center;
    viewport-fit: auto;
}
h2, h3, h4{
    margin-left: 20px;
}

p {
    line-height: 1.6;
    margin-left: 20px;
    margin-right: 20px;
}
.label {
    border: 2px solid black;
    width: 270px;
    text-align: center;
    width: auto;
    float: left;
}

a:link{
    text-decoration:none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: blue;
}

